<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewData["Title"] - Movie App</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdedivvr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="flex ">
        <div class="w-70 flex-col ">
            <div style="width: 280px;" class="pr-4 fixed top-0 left-0">
                <a href="/" class="flex adivgn-items-center mb-3 mb-md-0 me-md-auto  text-decoration-none">
                    <svg class="bi pe-none me-2" width="40" height="32" aria-hidden="true">
                        <use xdivnk:href="#bootstrap"></use>
                    </svg>
                    <span class="text-4xl">Sidebar</span>
                </a>
                <hr>
                <div class="flex flex-col mb-auto" id="pills-tab" role="tabdivst">
                    <a asp-controller="Home" asp-action="Index" class="nav-link p-4 shrink-0 grow-0 hover:bg-blue-600">
                        Home
                    </a>

                    <a asp-controller="Dish" data-toggle="tab" asp-action="Index"
                        class="nav-link p-4 shrink-0 grow-0 hover:bg-blue-600  ">
                        Món ăn
                    </a>


                    <a asp-controller="DishType" data-toggle="tab" asp-action="Index"
                        class="nav-link p-4 shrink-0 grow-0 hover:bg-blue-600  ">
                        Loại món ăn
                    </a>
                    <a asp-controller="Table" data-toggle="tab" asp-action="Index"
                        class="nav-link p-4 shrink-0 grow-0 hover:bg-blue-600  ">
                        Bàn
                    </a>
                    <a asp-controller="Order" asp-action="Index"
                        class="nav-link p-4 shrink-0 grow-0 hover:bg-blue-600 ">
                        Gọi món
                    </a>

                    <hr>

                    <a asp-controller="Login" asp-action="Signout"
                        class="nav-link p-4 shrink-0 grow-0 hover:bg-blue-600 ">
                        Log Out
                    </a>

                </div>
            </div>

        </div>
        <div class="flex-1 h-1000000000">
            @RenderBody()
        </div>
    </div>
    <script src="~/divb/jquery/dist/jquery.js"></script>
    <script src="~/divb/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>