@model _netmvc.Models.DishEditView

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dish</h4>
<hr />


<form asp-action="Edit" asp-controller="Dish" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="DishEdit!.Id">
    <div class="form-group">
        <label asp-for="DishEdit!.Name" class="control-label"></label>
        <input asp-for="DishEdit!.Name" class="form-control" />
        <span asp-validation-for="DishEdit!.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DishEdit!.PathImage" class="control-label"></label>
        <input asp-for="DishEdit!.PathImage" class="form-control" />
        <span asp-validation-for="DishEdit!.PathImage" class="text-danger"></span>
    </div>
    <div>
        <div> Ảnh cũ</div>
        <img class="object-fit-cover rounded" style="height: 200px; width: 200px;" src="/sta/@ViewData["oldimg"]" alt="" srcset="">
    </div>
    <div class="form-group">
        <label asp-for="DishEdit!.Price" class="control-label"></label>
        <input asp-for="DishEdit!.Price" class="form-control" />
        <span asp-validation-for="DishEdit!.Price" class="text-danger"></span>
    </div>
    <select class="mt-4" asp-for="DishEdit!.Type"
        asp-items="@(new SelectList(Model.DishTypes,nameof(DishType.Id),nameof(DishType.Name)))">

    </select>
    <br>
    <span asp-validation-for="DishEdit!.Type" class="text-danger"></span>
    <div class="form-group mt-4">
        <input type="submit" value="Chỉnh Sửa" class="btn btn-primary" />
    </div>
</form>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
