@model _netmvc.Models.Login

@{
    ViewData["Title"] = "Create";
}

<div class="row modal-content rounded-4 shadow p-4">
    <form asp-action="SignUp">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="acc" class="control-label"></label>
            <input asp-for="acc" class="form-control" />
            <span asp-validation-for="acc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="pw" class="control-label"></label>
            <input asp-for="pw" class="form-control" />
            <span asp-validation-for="pw"  class="text-danger"></span>
        </div>

        <div class="form-group mt-4">
            <input type="submit" value="Đăng nhập" class="btn btn-primary" />
        </div>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
