@model _netmvc.Models.DishTypeCreate

@{
    ViewData["Title"] = "Edit";
}


<h1 class="text-4xl mb-3"> Edit Dish</h1>
<hr class="mb-10" />


<form asp-action="Edit" asp-controller="DishType">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="  w-100 flex space-x-5 pl-4 py-2">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="focus:outline-none flex-1 w-full border-b-2" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="  w-100 flex space-x-5 pl-4 py-2">
        <label asp-for="Number" class="control-label"></label>
        <input asp-for="Number" class="focus:outline-none flex-1 w-full border-b-2" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>
    <div class="flex gap-10 mt-11 items-center">
        <div>
            <input type="submit" value="Edit"
                class="px-4 bg-blue-400 text-white rounded-sm py-2 ml-3 hover:bg-blue-700" />
        </div>
        <div>
            <a class="px-4 bg-red-400 text-white rounded-sm py-2 ml-3 hover:bg-red-700" asp-action="Index">Back to
                List</a>
        </div>
    </div>
</form>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
